
.site-header {
    background-color: #f6f6f6;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom-width: 1px;
  }

.nav {
    display: flex;
    gap: 1.5rem; 
  }
  
  .nav-link {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  .nav-link span {
    display: inline-block; 
    font-weight: 800; 
  }
  
  @media (min-width: 768px) { 
    .nav {
      gap: 3.75rem; 
    }
  }
  